@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.css";
@import "home/fullcalendar.css";
html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffe4c4;
}

a.active {
  background-color: gray;
}
