.header{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.content{
  margin-top: 50px;
}
#test1{
  margin-top: 100px;
  margin-left: 500px;
  width:500px ;

}
#test2{
  margin-top: 100px;
  margin-left: 700px;
  width:500px ;

}
.form{
  margin-top: 40px;
  margin-left: 100px;
  display: flex;
  justify-content:space-between ;
  align-items: center;
  width: 400px;

}
.default{
  margin-left: 100px;
  width:900px;
}

