<div class="header">
  <div class="form">
    <input type="text" type="number"min="1900" max="2099" value="2017" step="1"[(ngModel)]="selectedYear" pInputText />

    <p-dropdown [options]="months" [required]="true"[(ngModel)]="selectedMonth"></p-dropdown>
    <button class="btn btn-success" (click)="createCalendar(selectedYear,selectedMonth?.id)">Search</button>
    <button class="btn btn-default" (click)="default()">Default</button>
    <!--modal window-->
    <p-dialog header="Today" [(visible)]="display" modal="modal" width="300" [responsive]="true">
      <p class="info"></p>
      <p-footer>
        <button type="button" class="btn btn-info"  (click)="display=false">OK</button>
      </p-footer>
    </p-dialog>
  </div>
</div>

<div class="content">
  <div class="default"> <angular2-fullcalendar id="calendar"[options]="calendarOptions"></angular2-fullcalendar></div>
  <div id="test1"></div>
  <div id="test2"></div>
  <div class="modal fade" id="myModal" role="dialog">
  </div>
</div>
<div class="footer"></div>
